.navbar{height: 80px;width: 100%; border: solid;display: flex; position: relative;}

.inn{height: 30px; width: 350px;border-radius: 50px; position: absolute;top: 20px;left: 400px;}


.ul{list-style: none;display: flex;padding: 20px;position: absolute;right: 100px;}



.body{position: absolute;}


.sidebar{height: 350px;width: 250px;border: solid;position: absolute;top: 150px;left: 30px;}



.rightbar{height: 350px;width: 250px;border: solid;position: fixed;right: 30px;top: 150px;}

.pic{height: 100px;width: 100%;}
.sarcal{height: 80px;width: 80px;border: solid;border-radius:100px;position:absolute top 100px;right: 90px;}

.pro{height: 80px;width: 80px; border-radius: 100px;margin: top 10px;}

.name{font-size: 8px;margin:left 10px;display: flex;}



.main{height:auto; width: 600px; margin: auto;}


.profile{height: 200px;width: 500px; margin:auto;border: solid;margin-top: 150px;}





.post{display: flex; height:  500px; width: 400px; border: solid;margin: auto; margin-top: 50px;}